*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.woofworld-logo{
  width: 70px;
  margin: 10px
}

.hero-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-navigation ul{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style: none;
}

.primary-navigation{
  margin: 10px 0px;
  padding-right: 20px
}

.primary-navigation a{
  text-decoration: none;
}

.secondary-navigation{
  display: flex;
  align-items: start;
  float: right;
  margin: 0px 20px
}

.secondary-navigation ul{
  display: flex;
  gap: 15px;
  padding-right: 15px;
  list-style: none;
}

.secondary-navigation a {
  text-decoration: none;
}