*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* add flexbox and box model to align items inside the header */

.woofworld-logo{
  width: 150px;
  margin-left: 20px;
}

.hero-top{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #702083;
  align-items: center;
}

.primary-navigation ul{
  gap: 20px;
  list-style: none;
  display: flex;
  align-items: center;
}

.btn-sign{
  margin-right: 20px;
  height: 2.50rem;
  width: 5rem;
  border-radius: 100px;
  background-color: #FE8301;
  color: #F6F6F6;
  font-weight: bold;
  border: none; 
  cursor: pointer;
}


/* Add color and style to primary navigation Bar*/

 .primary-navigation ul a{ 
  color: #FE8301;
  text-decoration: none;
  font-family: "inter", sans-serif;
  font-size: 15px;
  transition: 0.2s;
  font-weight: bold;;
}

.primary-navigation ul a:hover{
  color: #F6F6F6;
  border-bottom: 1px solid #FE8301;
  padding: 3px 10px 3px 10px;
  border-radius: 50px;
}

.primary-navigation ul a:active{
  color: #fff;
}


/* First Section - Hero */

.primary-section{
  text-align: center;
  padding: 80px 0px 180px 0px;
  background-color: #702083;
  margin: auto;
}

 .hero-title{
  color: #FE8301;
  font-size: 4.90em;
  font-weight: bold;
  margin: 50px 40px 20px 40px;
}

.hero-subtitle{
  font-size: 18px;
  color: #f6f6f6;
  font-family: "IBM Plex Serif", serif;
  margin-bottom: 50px
}

.primary-section a{
  text-decoration: none;
  color: #f6f6f6;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f37e01;
  padding: 15px;
  border-radius: 100px;
} 

.secondary-section {
  background-color: #f37e01;
  font-size: 1.50rem;
}
.available-puppies{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  margin: auto;
}

#range-number-puppies{
  font-size: 1.50em;
  font-weight: bold;
  color: #ffd1a1;
}

#available{
  font-weight: bold;
  color: #ffd1a1;
}

#range-number-matches{
  font-size: 1.50em;
  font-weight: bold;
  color: #ffd1a1;
}

#matches{
  font-weight: bold;
  color: #ffd1a1;
}

#range-number-animal-save{
  font-size: 1.50em;
  font-weight: bold;
  color: #ffd1a1;
}

#animal-save{
  font-weight: bold;
  color: #ffd1a1;
}


.section-service{
  background-color: #f6f6f6;
  padding: 80px 0px;
  margin: auto;
  max-width: auto;
}

#dog-and-humans, #woofWorld-works{
  text-align: center;
  padding: 10px;
  color: #702083;
} 

#woofWorld-works{
  padding-bottom: 20px; 
}

.function-service{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 10px;
  text-align: center;
}

#create-profile,
#subtitle-perfect-connect,
#subtitle-connection,
#subtitle-community {
  color: #702083;
  padding-bottom: 15px;
  font-size: 1.20rem;
  font-weight: bold;
}

#description-profile,
#connects-description,
#chat-description,
#woofWorld-community {
  color: #702083;
  padding-bottom: 20px;
  font-size: 16px;
}

.section-service a{
  text-decoration: none;
  background-color: #f37e01;
  color: #f6f6f6;
  padding: 15px;
  border-radius: 100px;
}


.btn-match:hover{
  background-color: #f37e01;
}

.btn-match:active{
  background-color: #f37e01;
}

.btn-banner{
  display: inline-block;
  background-color: #702083;
}

.hero-image{
  max-width: 50%;
  float: left;
  padding-right: 15px;
  margin-right: 10px;
}

.hero-text{
  color: #fe8301;
  font-family: "oswald";
  padding: 15px 15px 10px 15px;
  font-size: 1.35em;
  text-transform: uppercase;
  position: static;
  /* margin-top: 25px; */
}

.btn-banner p{
  color: #fff;
  font-family: "inter", sans-serif;
  padding: 10px 15px 10px 15px;
}

.btn-banner  a{
  padding: 10px;
  text-decoration: none;
  color: #fe8301;
  font-family: "inter", sans-serif;
  background-color: #fff;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease;
}

.registration{
  margin-top: 20px;
  padding: 15px;
}

.btn-banner a:hover{
  color: #fff;
  background-color: #fe8301;
}

 .view-gallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 15px 10px 15px;
} 

.view-gallery img{
  width: 100%;
  border-radius: 5px;
  transition: 0.3s ease;
}

.top-stories{
  background-color: #f6f6f6;
  
}

.top-stories h3{
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-weight: 600px;
  color: #702083;
  font-size: 1.60rem;
  font-family: "inter", sans-serif;
}

 .stories-grid img{
  width: 100%;
  border-radius: 5px;
}

 .stories-grid article{
  background-color: #702083;
  border-radius: 5px;
  height: 65vh;
}

.stories-grid h4{
  color: #fe8301;
  font-weight: 600px;
  font-family: "oswald";
  letter-spacing: 2px;
  font-size: 1.20rem
}

.stories-grid p{
  color: #fff;
  font-weight: 600px;
  font-family: "inter", sans-serif;
}

.stories-grid{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  padding: 0px 15px 10px 15px;
}

.banner{
  position: relative; 
}

.banner img {
  width: 100%;
}

#banner-text{
  position: absolute;
  bottom: 60%;
  left: 50%;
}

#banner-sub-text{
  position: absolute;
  bottom: 40%;
  left: 50%;
}

.banner a{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eca0ad;
  padding: 15px 20px 15px 20px;
  color: white;
  text-decoration: none;
  font-family: inter;
  border-radius: 5px;
  font-weight: bold;
}

.banner p{
  transform: translate(-50%, -50%);
  font-size: 1.50em;
  color: #f6f6f6;
  font-weight: 600px;
  font-family: inter;
}

#sport-events{
   padding: 15px 0px 15px 0px;
  text-align: center;
  font-weight: 600px;
  color: #702083;
  font-size: 1.60rem;
  font-family: "inter", sans-serif;
}

.event-grid{
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px;
  padding: 15px;
}

