*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* add flexbox and box model to align items inside the header */

.woofworld-logo{
  width: 150px;
}

.hero-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ffffff3a;
  background-color: #702083;
}

.primary-navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.primary-navigation ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-left: 0rem;
  margin-right: 42rem;
}

.secondary-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 15px; 
}

.secondary-navigation ul{
  display: flex;
  justify-content: start;
  list-style: none;
  gap: 20px; 
}

/* Add color and style to primary navigation Bar*/

 .primary-navigation ul a{ 
  color: #FFFFFF;
  text-decoration: none;
  font-family: "inter", sans-serif;
  font-size: 15px;
  transition: 0.2s;
}
 
 .sign-color{
  color: #FFFFFF;
  font-weight: bold;
  background-color: transparent;
  padding: 0.75rem;
  width: 7vw;
  border-radius: 3px;
  border: 1px solid #ffffff9a;
  cursor: pointer;
  transition: 0.4s;
} 

.primary-navigation ul a:hover{
  color: #FE8301;

}

.primary-navigation ul a:active{
  color: #fff;
}


.sign-color:hover{
  background-color: #FE8301;
}

.sign-color:active{
  background-color: #B65F02;
}

/* Style Secondary Navigation Bar */


.secondary-navigation a {
  text-decoration: none;
}

.secondary-navigation{
  background-color: #702083;
  font-family: "inter", sans-serif;
  font-size: 15px;
  transition: 0.3s
}

.secondary-navigation a{
  color: #fff;
}

.secondary-navigation ul a:hover{
  color: #FE8301;
  border-bottom: 2px solid #FE8301;
  font-weight: bold;
}

.secondary-navigation ul a:active{
  color: #fff;
}

input[type="search"] {
  padding: 10px;
  width: 17vw;
  height: 5vh;
  background-color: #f6f6f6;
  border: none;
  border-radius: 3px;
} 

input:focus[type="search"]{
  outline: 3px solid #fe8301; 
  width: 20rem;
}

/* First Section - Hero */

.about-dogs{
  text-align: center;
  padding: 40px;
  background-color: #f6f6f6;
}

 .hero-title{
  color: #702083;
  font-size: 3.80em;
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-subtitle{
  font-size: 3em;
  margin-bottom: 10px;
  color: #FE8301;
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.secondary-sub{
  margin-bottom: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "inter", sans-serif;
  text-decoration: underline #FE8301;;
}

.btn-match {
  background-color: #FE8301;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-family: "inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
}

.btn-match:hover{
  background-color: #f37e01;
}

.btn-match:active{
  background-color: #f37e01;
}

.btn-banner{
  display: inline-block;
  background-color: #702083;
}

.hero-image{
  max-width: 50%;
  float: left;
  padding-right: 15px;
  margin-right: 10px;
}

.hero-text{
  color: #fe8301;
  font-family: "oswald";
  padding: 15px 15px 10px 15px;
  font-size: 1.35em;
  text-transform: uppercase;
  position: static;
  /* margin-top: 25px; */
}

.btn-banner p{
  color: #fff;
  font-family: "inter", sans-serif;
  padding: 10px 15px 10px 15px;
}

.btn-banner  a{
  padding: 10px;
  text-decoration: none;
  color: #fe8301;
  font-family: "inter", sans-serif;
  background-color: #fff;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease;
}

.registration{
  margin-top: 20px;
  padding: 15px;
}

.btn-banner a:hover{
  color: #fff;
  background-color: #fe8301;
}

 .view-gallery{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 15px 10px 15px;
} 

.view-gallery img{
  width: 100%;
  border-radius: 5px;
  transition: 0.3s ease;
}

.top-stories{
  background-color: #f6f6f6;
  
}

.top-stories h3{
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-weight: 600px;
  color: #702083;
  font-size: 1.60rem;
  font-family: "inter", sans-serif;
}

 .stories-grid img{
  width: 100%;
  border-radius: 5px;
}

 .stories-grid article{
  padding: 0px 0px 15px 0px;
  background-color: #702083;
  border-radius: 5px;
  height: 80vh;
}

.stories-grid h4{
  padding: 15px 15px;
  color: #fe8301;
  font-weight: 600px;
  font-family: "oswald";
  letter-spacing: 2px;
  font-size: 1.20rem
}

.stories-grid p{
  color: #fff;
  font-weight: 600px;
  font-family: "inter", sans-serif;
  padding-left: 15px;
}

.stories-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 0px 15px 10px 15px;
}





